/* Контейнер для Gradient T-shirt */

.drugoi{
    margin-left: 900px;
position: relative;

    bottom: 250px;
}



.h61{
   color:rgba(0, 0, 0, 0.6) ;

}

.h62{
    color:rgba(0, 0, 0, 0.6) ;


}


.h63{
    color:rgba(0, 0, 0, 0.6) ;

}

.h64{
    color:rgba(0, 0, 0, 0.6) ;

}

.h61{
    color:rgba(0, 0, 0, 0.6) ;


}




.spans61{
    margin-left: 300px;

    font-size: 13px;
    font-weight: 700;
    line-height: 27px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.spans62{
    margin-left: 257px;
    color: red;



    font-size: 13px;
    font-weight: 700;
    line-height: 27px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.spans63{
    margin-left: 285px;


    font-size: 13px;
    font-weight: 700;
    line-height: 27px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


.spans64{
    margin-left: 320px;


    font-size: 13px;
    font-weight: 700;
    line-height: 27px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


.aaa {
 display: flex;

    h1{
       font-size: 17px;
        position: relative;
        right: 310px;
        top: 90px;
    }

    position: absolute;

}

.h41{
    position: relative;
    bottom: 20px;
    left: 20px;
}
.h51{
    position: relative;
    top: 15px;
   right: 160px;

    color: rgba(0, 0, 0, 1);
}

.sps1{
    color:rgba(0, 0, 0, 0.6)
}

.sps2{
    color:rgba(0, 0, 0, 0.6)
}


.delete2{
    margin-left: 550px;
    position: absolute;
    bottom: 100px;
}







.h52{
    position: relative;
    top: 40px;
    right: 228px;
}







/* Контейнер для Checkered Shirt */
.bbb {
    display: flex;
    /* Элементы будут располагаться вертикально */
    position: relative;
    top: 180px;
}

/* Контейнер для Skinny Fit Jeans */
.ccc {
    display: flex;
 /* Элементы будут располагаться вертикально */
    position: relative;
    top: 235px;
}

/* Ширина изображения для Checkered Shirt */
.stran22 {
    width: 130px;
}













/* src/App.css */
.counter-container {
    display: flex;
    align-items: center;
    /*gap: 10px;*/
    position: absolute;
    background-color:rgba(240, 240, 240, 1) ;
    padding: 10px 15px 10px 22px;
    gap: 10px;
    border-radius: 62px 60px 60px 60px;

    margin-left: 500px;
    top: 80px;


}

.counter-button {

    padding: 0px;
    background-color:rgba(240, 240, 240, 1) ;
    color: black;
    border: none;

    cursor: pointer;
}

.counter-button:disabled {
    background-color: #ccc;

}

.counter-display {
    font-size: 20px;
    width: 50px;
    text-align: center;
    background-color:rgba(240, 240, 240, 1) ;
}











.meloch1{
    position: absolute;
    /*position: absolute;*/
    /*background-color: rgba(240, 240, 240, 1);*/

}



.button100{
    /*border-radius: 62px 60px 60px 60px;*/
    button{

    }
}


.butt100{

    button{

        border-radius: 62px 70px 60px 60px;
        background-color:rgba(240, 240, 240, 1) ;

        padding: 12px 66px 12px 66px;
        gap: 12px;
    }

}

.butt101{


    margin-left: 200px;

    button{
        border-radius: 62px 60px 60px 60px;

        padding: 12px 30px 12px 30px;
        margin-left: 70px;
        margin-bottom: 20px;
        gap: 12px;
         background-color: black;
        color:white;
    }
}



.butt102{
    background-color: #1a1a1a;
    position: absolute;
    border-radius: 62px 60px 60px 60px;
    padding: 6px 104px 6px 104px;
}




.button102{
    background-color: #1a1a1a;
    color: white;



    /*padding: 16px 124px 16px 124px;*/
    gap: 12px;


}
